/* include style for buttons, input, heading */

button, submit {
    
    background-color: #0097a7;
    color: white;
    font-weight: bold;
    border-radius:2px;
    border: 2px;
    padding: 9px 17px;
    cursor: pointer;
}
button:hover, submit:hover{
    transition: 0.5s;
    background-color: #006064;
}
.dbg{
    background-color: transparent;
    border: 3px #0097a7 solid ;
    /* color:#0097a7; */
}
.dbg:hover{
    background-color: #0097a7;

    /* color:white; */
}
input {
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px #0097a7 solid;
}
.banner{
    height: 100vh;
    background-size: cover;
}
.bgfixed{
    background: lightgrey no-repeat center center fixed;
}

.banner .snap{
    background: rgba(255,255,255,0.3);
    height: 80%;
    width: 40%;
    margin: auto;
}
.topban{
    background: url('../img/banner.jpg') no-repeat center center;
}

form{
    padding: 15px;
}
@media only screen and (max-width: 768px){
    .banner{
        background-size:auto 100vh ;
    }
    .banner .snap{
        height: 50%;
        width: 80%;
        margin: auto;
    }
}