/* include style for buttons, input, heading */

button, submit {
    
    background-color: #0097a7;
    color: white;
    font-weight: bold;
    border-radius:2px;
    border: 1px;
    padding: 9px 17px;
    cursor: pointer;
}
button:hover, submit:hover{
    transition: 0.5s;
    background-color: #006064;
}
input {
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px #0097a7 solid;
}
.banner{
    background: lightgrey url('../img/banner.jpg') no-repeat ;

    background-size: 100%;
    min-height: 85vh;
}