/* include style for buttons, input, heading */
button, input[type=submit] {

    background-color: #0097a7;
    color: white;
    font-weight: bold;
    border-radius:2px;
    border: 2px;
    padding: 9px 17px;
    cursor: pointer;
}
button:hover, input[type="submit"]:hover{
    transition: 0.5s;
    background-color: #006064;
}
.dbg{
    background-color: transparent;
    border: 3px #0097a7 solid ;
    /* color:#0097a7; */
}
.dbg:hover{
    background-color: #0097a7;

    /* color:white; */
}
input {
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px #0097a7 solid;
}
.banner{
  overflow: auto;
    height: 100vh;
    background-size: cover;
}
.bgfixed{
    background: lightgrey no-repeat center center fixed;
}

.banner .snap{
    background: rgba(255,255,255,0.3);
    height: 80%;
    width: 40%;
    margin: auto;
}
.topban{
    background: url('../img/helpinghand.jpg') no-repeat center center;
    background-size: cover;
}

form{
    padding: 15px;
}
form{
    /* margin-top: 50px; */
    width: 30vw;
    /* float: right; */
    box-shadow: 0 0 5px black;
    /* float: right; */
    margin: auto;
    /* position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background: rgba(255,255,255,0.6);
}

form *{
    display: block;
    padding: 7px 0;
    margin-top: 7px;
    width: 100%;

}
form input,form button, {

     min-height:2.5rem;
     padding: 5px;
     margin-bottom: 5px;
}
.feed, .partners {
    background: rgb(238, 238, 238);
    /* background-color: white; */
    /* border: 2px grey solid; */
    border-radius: 2px;
    width: 50%;
    margin: 5px auto;
    padding:15px;
}
.feed img{
    display:block;
    margin: 0 auto;
    width:60%;
    height:auto;
}
.feed .date{
    font-size: 0.9em;
    text-align: right;
}
.alert{
  box-sizing: border-box;
  padding: 9px 5px;
  margin-bottom: 5px;
  background-color: red;
  color: white;
}
.alert .closebtn{
  display: inline !important;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px;
}
.alert .closebtn:hover{
  color: black;
}
@media only screen and (max-width: 768px){
    .banner{
        background-size:auto 100vh ;
    }
    .banner .snap{
        height: 50%;
        width: 80%;
        margin: auto;
    }
    form{
        width: 80vw;
    }
    .feed , .partners{
        width: 70%;
    }
}
