aside{
    float: left;
    min-width:15em;
    min-height: 100%;
    /* overflow: hidden; */
    /* min-height:68vh; */
    /* display: block;
    overflow: auto; */
    /* height:100%; */
    background-color:#555;
}
aside h3{
  color: lightgrey;
}
aside a{
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}
aside ul{
  padding-left: 20px;
}
aside li{
  border-radius: 5px;
  background-color: #555;
  display: block;
  padding: 7px 3px;
  margin:2px;
}
aside li:hover{
  background-color: darkgrey;
}
aside img{
  margin: 3px auto;
}
aside div{
  margin:9px;
}
#content{
  box-sizing: border-box;
  height: 100vh;
  /* overflow: hidden; */
}
#main{
  height: 100%;
  background-color: lightgrey;
  box-sizing: border-box;
  padding:9px;
  overflow: scroll;
  /* float:right; */
}

/* Layout: */

.col-left, .col-right {
  flex: 2;
}

/* Responsive: */

@media only screen and (max-width: 768px) {
  aside{
    clear: both;
    float:none;
    height: auto;
    overflow: hidden;

  }
  #main{
    height:auto;
    overflow: auto;
    float:none;
  }
}
@media only screen and (min-width: 768px) {

  .layout {
    display: flex;
  }
}

.container {
  margin-top:50px;
  /* max-width: 60em; */
  min-height: 80vh;
  margin-right: auto;
  margin-left: auto;
}

.col {
  padding: 1em;
  margin: 0 2px 2px 0;
  background: lightgrey;
  margin: 5px;
}
#logout{
  float:right;
  margin: 7px;
  background-color:#E4210C;
}
#logout:hover{
  background-color:#961507;
}

footer{
  clear: both;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
}
